
<div class="row">
	<div class="span10">
		<div>
	  		<h1>Sökmotor beta 1.0.0.beta1</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">	
		<%= form_tag("/sok", :method => "post", :remote => false) do  %>
  			<%= text_field_tag 'q', nil, :class => "span6", :placeholder => "Frisok..." %>
  			<div class="validation-error"></div>
  			<%= submit_tag "Starta sökning", :class => "btn primary" %>
  			<button class="btn danger">Rensa</button>
		<% end %>
	</div>
</div>


<div id="comments"></div>