.margin-bottom5
{
	margin-bottom: 5px;
}
.padding1
{
	padding: 1px;
}
.padding2
{
	padding: 2px;
}
.padding3
{
	padding: 3px;
}
.padding4
{
	padding: 4px;
}
.padding5
{
	padding: 5px;
}
.padding6
{
	padding: 6px;
}
.padding7
{
	padding: 7px;
}
.padding8
{
	padding: 8px;
}
.padding9
{
	padding: 9px;
}
.padding10
{
	padding: 10px;
}
.right10
{
	margin-left: 10px;
}
.right20
{
	margin-left: 20px;
}
.float-right
{
	float: right;
}
.float-left
{
	float: left;
}